//breakpoints
$mobile: 375px;
$desktop: 1440px;

//colors
$bacground: #f8f8f8;
$main: #55eb64;
$main_text: #000000;
$second_text: #ffffff;
$error_color: rgb(245, 76, 76);

//font-size
$font_mobile: 20px;
$font_desktop: 25px;
